<!-- <div id="board-container" class="aspect-[7/6] w-full max-w-[600px]">
  <div id="container" class="w-full h-full"></div>
</div>

<div class="w-full flex justify-between text-3xl">
    <span>
        <i class="pi pi-angle-left cursor-pointer" style="font-size: 46px;"></i>
    </span>

    <span>
        <i class="pi pi-angle-right cursor-pointer" style="font-size: 46px;"></i>
    </span>
</div> -->


<div class="flex flex-col items-center w-full">
    <!-- Board Container with 7:6 aspect ratio -->
    <div id="board-container" class="aspect-[7/6] w-full">
        <div id="container" class="w-full h-full"></div>
    </div>

    <!-- Navigation icons -->
    <div class="w-full flex justify-between items-center mt-4 px-4 text-3xl">
        <span>
            <i class="pi pi-angle-left cursor-pointer hover:text-blue-500 transition" style="font-size: 46px"
                (click)="onLeftClick()"></i>
        </span>

        <span>
            <i class="pi pi-angle-right cursor-pointer hover:text-blue-500 transition" style="font-size: 46px"
                (click)="onRightClick()"></i>
        </span>
    </div>
</div>