<div class="w-full flex gap-2">
    <button (click)="onNewGame()" pButton label="New Game" [loading]="this.isLoading" icon="pi pi-plus" iconPos="right"
        severity="info"></button>

    <button (click)="displayJoinGameModal = true" pButton label="Join Game" [loading]="this.isLoading" icon="pi pi-link"
        iconPos="right" severity="warn"></button>
</div>

<div class="flex flex-wrap md:px-5 px-1 py-10 gap-5 sm:justify-start justify-center">
    @for (game of gamesList; track $index) {
    <div (click)="onConnectGame(game)"
        class="border flex flex-col justify-between rounded-xl overflow-hidden cursor-pointer hover:scale-105 transition-all duration-300 bg-white shadow">
        <app-game-preview [gameGrid]="game.game_state" class="w-full h-full"></app-game-preview>

        <div class="flex flex-col p-2 ">
            <div class="flex justify-center font-semibold gap-2">
                <span class="truncate max-w-[12ch] block"
                    [ngClass]="{'text-blue-600 font-black': game.player_1.id === userInfo?.uid}">&#64;{{game.player_1.username}}</span>
                <strong>VS</strong>
                @if (game.player_2) {
                <span class="truncate max-w-[12ch] block">&#64;{{ game.player_2.username }}</span>
                }@else {
                <span class="font-thin">
                    Pending...
                </span>
                }
            </div>

            <div class="flex justify-center my-5">
                <span class="">
                    @if (game.status === 'active') {
                    @if (game.current_turn === userInfo?.uid) {
                    YOUR TURN
                    }@else {
                    WAITING FOR OPPONENT
                    }
                    }@else {
                    Code:
                    <strong>
                        {{ game.join_code }}
                    </strong>
                    }
                </span>
            </div>

            <div class="flex justify-between">
                <span class="font-thin italic text-sm">{{ game.created_at | date : 'dd/MM/yyyy HH:mm a' : 'UTC'
                    }}</span>

                <app-status [status]="game.status"></app-status>
            </div>
        </div>
    </div>
    }
</div>

<p-dialog header="Join Game" [modal]="true" [(visible)]="displayJoinGameModal" [style]="{ width: '25rem' }">

    <div class="flex flex-col gap-2 mb-10">
        <label for="join_code" class="font-semibold w-24">Code</label>
        <input pInputText id="join_code" class="flex-auto" autocomplete="off" [(ngModel)]="joinCode" />
    </div>

    <div class="flex">
        <button (click)="onJoinGame()" class="w-full" pButton label="JOIN" severity="contrast"></button>
    </div>
</p-dialog>

<p-toast></p-toast>