<div class="flex flex-col items-center w-full">
    <div id="board-container" class="aspect-[7/6] w-full">
        <div id="container" class="w-full h-full"></div>
    </div>

    <!-- <div class="w-full flex justify-between items-center mt-4 px-4 text-3xl">
        <span>
            <i class="pi pi-angle-left cursor-pointer hover:text-blue-500 transition" style="font-size: 46px"
                (click)="onLeftClick()"></i>
        </span>

        <span>
            <i class="pi pi-angle-right cursor-pointer hover:text-blue-500 transition" style="font-size: 46px"
                (click)="onRightClick()"></i>
        </span>
    </div> -->
</div>